.resultGraphs {
  list-style : none;

  &, > li {
    margin : 0;
    padding : 0;
  }

  > li {
    display : inline-block;
    width : 100%;

    padding : 1em;

    @media ( min-width: 50em ) and (max-width: 80em) {
      width : 50%;
    }

    @media ( min-width: 80em ) {
      width : 33.333%;
    }
  }

  .domain {
    display : none;
  }
}

  .resultGraphs--bgBar {
    fill : @grey_brighter;

    &:nth-child( 2n ) {
      fill : lighten( @grey_brighter, 3.75% );
    }
  }

  .resultGraphs--circle__first,
  .resultGraphs--circle__repeat {
    fill : @blue;
  }

  .resultGraphs--circle__firstWithoutTTFB,
  .resultGraphs--circle__repeatWithoutTTFB {
    fill : @blue_bright;
  }

  .resultGraphs--help {
    font-size : .8em;
    position : absolute;
    text-align : center;

    background : @grey;
    color      : @white;

    padding : .25em .5em;

    // animation : slideUp .25s 1 forwards;

    &::before {
      position : absolute;

      bottom : 100%;
      left   : 50%;

      content : '';

      transform : translateX( -.5em );
      width  : 0;
      height : 0;

      border-style: solid;
      border-width: 0 .5em .5em .5em;
      border-color: transparent transparent @grey transparent;
    }
  }

  // @keyframes slideUp {
  //   0%   {
  //     opacity   : 0;
  //     transform : translate( 0, .25em );
  //   }

  //   100% {
  //     opacity: 1;
  //     transform : translate( 0, 0 );
  //   }
  // }

    .resultGraphs--item--container {
      position : relative;
    }

    .resultGraphs--item--headline {
      margin-bottom : .5em;
    }

  .resultGraphs--legend__first, .resultGraphs--legend__repeat {
    position : relative;

    color : @blue;

    display : inline-block;
    padding : .25em 1.5em;
    margin  : 0 .5em;
  }

  .resultGraphs--legend__first {
    border-bottom : 3px solid @blue;
  }

  .resultGraphs--legend__repeat {
    border-bottom : 3px dashed @blue;
  }

  .resultGraphs--line__first,
  .resultGraphs--line__repeat,
  .resultGraphs--line__firstWithoutTTFB,
  .resultGraphs--line__repeatWithoutTTFB {
    stroke-width : 3;
  }

  .resultGraphs--line__first, .resultGraphs--line__firstWithoutTTFB {
    fill : none;

  }

  .resultGraphs--line__first {
    stroke : @blue;

  }

  .resultGraphs--line__firstWithoutTTFB {
    stroke : @blue_bright;
  }

  .resultGraphs--line__repeat,
  .resultGraphs--line__repeatWithoutTTFB {
    fill : none;

    stroke-dasharray : 5, 5;
  }


  .resultGraphs--line__repeat {
    stroke : @blue;
  }

  .resultGraphs--line__repeatWithoutTTFB {
    stroke : @blue_bright;
  }

  .resultGraphs--xAxisTicks, .resultGraphs--yAxisTicks {
    line {
      stroke: @grey_bright;
      stroke-width: 1;
    }

    text {
      font-size : .66em;
      stroke: @grey;
      stroke-width: 1;
    }
  }

  .resultGraphs--marks {
    line {
      stroke-width : 2;
    }
  }

  .resultGraphs--mark__first {
    stroke : @red_bright;
  }

  .resultGraphs--mark__repeat {
    stroke : @red_dark;
  }

  .resultGraphs--xAxisTicks {
    .tick {
      &:first-of-type, &:last-of-type {
        display : none;
      }
    }
  }
