.resultGraphs {
  list-style : none;

  &, > li {
    margin : 0;
    padding : 0;
  }

  > li {
    display : inline-block;
    width : 50%;

    padding : 1em;
  }

  .domain {
    display : none;
  }
}

  .resultGraphs--bgBar {
    fill : @grey_brighter;

    &:nth-child( 2n ) {
      fill : lighten( @grey_brighter, 3.75% );
    }
  }

  .resultGraphs--circle__first {
    fill : @blue;
  }

  .resultGraphs--circle__repeat {
    fill : @blue_bright;
  }

  .resultGraphs--line__first, .resultGraphs--line__repeat {
    stroke-width : 3;
  }

  .resultGraphs--line__first {
    fill : none;
    stroke : @blue;
  }

  .resultGraphs--line__repeat {
    fill : none;
    stroke : @blue_bright;
  }

  .resultGraphs--xAxisTicks, .resultGraphs--yAxisTicks {
    line {
      stroke: @grey_bright;
      stroke-width: 1;
    }

    text {
      font-size : .66em;
      stroke: @grey;
      stroke-width: 1;
    }
  }

  .resultGraphs--marks {
    line {
      stroke-width : 2;
    }
  }

  .resultGraphs--mark__first {
    stroke : @red_bright;
  }

  .resultGraphs--mark__repeat {
    stroke : @red_dark;
  }

  .resultGraphs--xAxisTicks {
    .tick {
      &:first-of-type, &:last-of-type {
        display : none;
      }
    }
  }
